<!-- GUEST UPGRADE OVERLAY -->
<div id="ov-guest-upgrade" class="ov hidden" onclick="if(event.target===this)ovClose('ov-guest-upgrade')">
  <div class="ovc">
    <div class="ovh"></div>
    <div class="ovic ovic--gold"><svg class="gi"><use href="#gi-sparkle"/></svg></div>
    <div class="ovt">שמור את ההתקדמות שלך</div>
    <div class="ovd">צור חשבון חינמי כדי לשמור סטטיסטיקות, מטבעות והישגים, ולהופיע בטבלת הדירוגים.</div>
    <div class="ovbtns">
      <button class="ovb p" onclick="ovClose('ov-guest-upgrade');showSc('sauth-signup')">צור חשבון</button>
      <button class="ovb s" onclick="ovClose('ov-guest-upgrade')">לא עכשיו</button>
    </div>
  </div>
</div>
