<!-- מילון -->
<div id="ov-shailta" class="ov hidden">
  <div class="ovc"><div class="ovh"></div>
    <div class="ovt">מילון</div>
    <div class="ovd">האם המילה קיימת? <span style="color:#ff8e8e">הטיימר ממשיך לרוץ!</span></div>
    <div class="shin-wrap"><input class="shin" id="shin" type="text" placeholder="הקלד מילה..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div>
    <div class="shres" id="shres"></div>
    <div class="ovbtns">
      <button class="ovb p" onclick="checkShailta()">בדוק ✓</button>
      <button class="ovb s" onclick="ovClose('ov-shailta')">סגור</button>
    </div>
  </div>
</div>
